* {
    margin: auto;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
}
#container {
    width: 500px;
    height: 500px;
    background: green;
    display: flex;
    align-content: center;
    box-sizing: border-box;
}


@media print {
    h1 {
        display: none;
    }
}